HPF.FutureState.Webservice.Test/HPF.FutureState.WebService.Test.Web/Web References/HPFCallCenterService/CallCenterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.homeownershopenetwork.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://www.homeownershopenetwork.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.homeownershopenetwork.org">
      <s:element name="SaveCallLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:CallLogInsertRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CallLogInsertRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CallLog" type="tns:CallLogWSDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CallLogWSDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CallId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExtCallNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="DNIS" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CallCenter" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CallCenterCD" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CallResource" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReasonToCall" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CounselPastYRInd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MtgProbInd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PastDueInd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PastDueSoonInd" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PastDueMonths" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ServicerId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="OtherServicerName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PropZip" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PrevCounselorId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PrevAgencyId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SelectedAgencyId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScreenRout" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FinalDispo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TransNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OutOfNetworkReferralTBD" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateAppName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChangeLastDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangeLastUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangeLastAppName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveCallLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveCallLogResult" type="tns:CallLogInsertResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CallLogInsertResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CallLogID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfExceptionMessage" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResponseStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfExceptionMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExceptionMessage" nillable="true" type="tns:ExceptionMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExceptionMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ExceptionId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Fail" />
          <s:enumeration value="Warning" />
          <s:enumeration value="AuthenticationFail" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AuthenticationInfo" type="tns:AuthenticationInfo" />
      <s:complexType name="AuthenticationInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="RetrieveCallLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:CallLogRetrieveRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CallLogRetrieveRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="callLogId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveCallLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveCallLogResult" type="tns:CallLogRetrieveResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CallLogRetrieveResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CallLog" type="tns:CallLogWSDTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SearchForeClosureCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ForeClosureCaseSearchRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ForeClosureCaseSearchRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SearchCriteria" type="tns:ForeClosureCaseSearchCriteriaDTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseRequest" />
      <s:complexType name="ForeClosureCaseSearchCriteriaDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AgencyCaseNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LoanNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PropertyZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last4_SSN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchForeClosureCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchForeClosureCaseResult" type="tns:ForeClosureCaseSearchResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ForeClosureCaseSearchResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfForeClosureCaseWSDTO" />
              <s:element minOccurs="1" maxOccurs="1" name="SearchResultCount" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfForeClosureCaseWSDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ForeClosureCaseWSDTO" nillable="true" type="tns:ForeClosureCaseWSDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ForeClosureCaseWSDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDTO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FcId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IntakeDt" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="BorrowerFname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BorrowerLname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BorrowerLast4SSN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CoBorrowerFname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CoBorrowerLname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CoBorrowerLast4SSN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PropAddr1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PropAddr2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PropCity" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PropStateCd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PropZip" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CounselorFullName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CounselorPhone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CounselorExt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CounselorEmail" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CompletedDt" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="BankruptcyInd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FcNoticeReceivedInd" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyCaseNum" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgencyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Counseled" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DelinquentDt" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="LoanNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LoanServicer" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CaseLoanID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveCallLogSoapIn">
    <wsdl:part name="parameters" element="tns:SaveCallLog" />
  </wsdl:message>
  <wsdl:message name="SaveCallLogSoapOut">
    <wsdl:part name="parameters" element="tns:SaveCallLogResponse" />
  </wsdl:message>
  <wsdl:message name="SaveCallLogAuthenticationInfo">
    <wsdl:part name="AuthenticationInfo" element="tns:AuthenticationInfo" />
  </wsdl:message>
  <wsdl:message name="RetrieveCallLogSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveCallLog" />
  </wsdl:message>
  <wsdl:message name="RetrieveCallLogSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveCallLogResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveCallLogAuthenticationInfo">
    <wsdl:part name="AuthenticationInfo" element="tns:AuthenticationInfo" />
  </wsdl:message>
  <wsdl:message name="SearchForeClosureCaseSoapIn">
    <wsdl:part name="parameters" element="tns:SearchForeClosureCase" />
  </wsdl:message>
  <wsdl:message name="SearchForeClosureCaseSoapOut">
    <wsdl:part name="parameters" element="tns:SearchForeClosureCaseResponse" />
  </wsdl:message>
  <wsdl:message name="SearchForeClosureCaseAuthenticationInfo">
    <wsdl:part name="AuthenticationInfo" element="tns:AuthenticationInfo" />
  </wsdl:message>
  <wsdl:portType name="CallCenterServiceSoap">
    <wsdl:operation name="SaveCallLog">
      <wsdl:input message="tns:SaveCallLogSoapIn" />
      <wsdl:output message="tns:SaveCallLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCallLog">
      <wsdl:input message="tns:RetrieveCallLogSoapIn" />
      <wsdl:output message="tns:RetrieveCallLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchForeClosureCase">
      <wsdl:input message="tns:SearchForeClosureCaseSoapIn" />
      <wsdl:output message="tns:SearchForeClosureCaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CallCenterServiceSoap" type="tns:CallCenterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveCallLog">
      <soap:operation soapAction="https://www.homeownershopenetwork.org/SaveCallLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SaveCallLogAuthenticationInfo" part="AuthenticationInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCallLog">
      <soap:operation soapAction="https://www.homeownershopenetwork.org/RetrieveCallLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RetrieveCallLogAuthenticationInfo" part="AuthenticationInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchForeClosureCase">
      <soap:operation soapAction="https://www.homeownershopenetwork.org/SearchForeClosureCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchForeClosureCaseAuthenticationInfo" part="AuthenticationInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CallCenterServiceSoap12" type="tns:CallCenterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveCallLog">
      <soap12:operation soapAction="https://www.homeownershopenetwork.org/SaveCallLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SaveCallLogAuthenticationInfo" part="AuthenticationInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCallLog">
      <soap12:operation soapAction="https://www.homeownershopenetwork.org/RetrieveCallLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RetrieveCallLogAuthenticationInfo" part="AuthenticationInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchForeClosureCase">
      <soap12:operation soapAction="https://www.homeownershopenetwork.org/SearchForeClosureCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchForeClosureCaseAuthenticationInfo" part="AuthenticationInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallCenterService">
    <wsdl:port name="CallCenterServiceSoap" binding="tns:CallCenterServiceSoap">
      <soap:address location="http://localhost:1314/CallCenterService.asmx" />
    </wsdl:port>
    <wsdl:port name="CallCenterServiceSoap12" binding="tns:CallCenterServiceSoap12">
      <soap12:address location="http://localhost:1314/CallCenterService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>